<div class="jumbotron">
    <h1 class="wf-sawarabigothic text-center">Editing Shop</h1>
</div>

<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="container-fluid">
    <div class="offset-md-1 col-md-10">
        <%= form_tag("/shops/#{@shop.id}", method: :patch) do %>
            <div class="form-group">
                <label class="control-label" for="InputContributer">投稿者</label>
                <div class="col-md-3">
                    <input type="text" name="contributer" value="<%= @shop.contributer %>" id="InputContributer" class="form-control" required>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--    <label class="control-label" for="InputMentor">メンター名</label>-->
            <!--    <div class="col-md-3">-->
            <!--        <select name="mentor" id="InputMentor" class="form-control">-->
            <!--            <option></option>-->
            <!--            <option>ベンチャー</option>-->
            <!--            <option>ぶっちー</option>-->
            <!--            <option>サカナクション</option>-->
            <!--            <option>みこ</option>-->
            <!--            <option>せぇ</option>-->
            <!--            <option>ちょむ</option>-->
            <!--            <option>かすぴー</option>-->
            <!--            <option>バナナ</option>-->
            <!--            <option>スペック</option>-->
            <!--        </select>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="control-label" for="InputName">店名</label>
                <input type="text" name="name" value="<%= @shop.name %>" id="InputName" class="form-control" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="InputComment">グルメコメント</label>
                <textarea name="comment" id="InputComment" class="form-control" required><%= @shop.comment %></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="次へ" class="btn btn-info col-md-1">
                <%= link_to '戻る', shops_path, class: "btn btn-danger col-md-1" %>
            </div>
        <% end %>
    </div>
</div>