<div class="jumbotron">
  <h1 class="wf-sawarabigothic text-center">日Aランチ</h1>
</div>

<div class="text-center">
  <p>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1a06CRCYRQt9hM8hqurrxHvQHw6U37r5x" width="900" height="480"></iframe>
  </p>
</div>

<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>行った店リスト</h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width:5%">NO.</th>
              <th style="width:10%">投稿者</th>
              <th style="width:10%">写真</th>
              <th style="width:10%">店名</th>
              <th>グルメコメント</th>
              <th style="width:5%"></th>
              <th style="width:5%"></th>
              <th style="width:12%">ゅなポイント</th>
            </tr>
          </thead>
        
          <tbody>
            <% @shops.each_with_index do |shop, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= shop.contributer %></td>
                <td><img alt="" src="<%= "/shop_images/#{shop.id}.jpg" %>" style="width:100%"></td>
                <td><%= shop.name %></td>
                <td><%= shop.comment %></td>
                <td><%= link_to '編集', edit_shop_path(shop), class: "btn btn-info" %></td>
                <td><%= link_to '削除', shop, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                <% if shop.junapoint != nil %>
                  <td><%= shop.junapoint %></td>
                <% else %>
                  <td>判定中</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<br>

<div class="text-center">
  <p><%= link_to '店の追加', new_shop_path, class: "btn btn-success" %></p>
</div>

