<p id="notice"><%= notice %></p>

<p>
  <strong>Mentor:</strong>
  <%= @shop.mentor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @shop.comment %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
